<div class="hr-text">{{ 'or'|trans({}, 'TablerBundle') }}</div>
<div class="card-body">
    <div class="row">
        <div class="col">
            <a href="#" class="btn btn-white w-100">
                <i class="icon fab fa-github text-github"></i> Github
            </a>
        </div>
        <div class="col">
            <a href="#" class="btn btn-white w-100">
                <i class="icon fab fa-twitter text-twitter"></i> Twitter
            </a>
        </div>
    </div>
</div>
