<div class="mb-3">
    <label class="form-check form-switch">
        <input id="remember_me" tabindex="30" name="_remember_me" type="checkbox" class="form-check-input">
        <span class="form-check-label">{{ 'Remember Me'|trans({}, 'TablerBundle') }}</span>
    </label>
</div>
