<div class="{{ form_card_width|default('col-6') }}">
    {% embed '@Tabler/embeds/card.html.twig' with {
        title: form_card_title,
        use_footer: true
    } %}
        {% block box_body %}
            {{ form_widget(form) }}
        {% endblock %}
        {% block box_footer %}
            {% include '@Tabler/crud/_form-actions.html.twig' %}
        {% endblock %}
    {% endembed %}
</div>
