{% extends '@Tabler/security.html.twig' %}

{% block body_login_border %}{% endblock %}
{% block page_classes %}row g-0 flex-fill{% endblock %}
{% block container_before %}
    <div class="col-12 col-lg-6 col-xl-4 {% block login_border %}border-top-wide border-primary{% endblock %} d-flex flex-column justify-content-center">
    {# </div> fechado no container_after! #}
{% endblock %}

{% block container_classes %}container container-tight my-5 px-lg-5{% endblock %}
{% block card_classes %}{% endblock %}

{% block container_after %}
    {# <div> aberto no container_before! #}
    </div>
    {{ include('@Tabler/includes/security-cover.html.twig') }}
{% endblock %}
